<% content_for :js do %>
  <%= public_js_path "change_password.js" %>
<% end %>
<div class="section-wrapper">
  <section class="login p-fixed d-flex text-center bg-primary common-img-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="login-card card-block">
            <form id="md-static-material the_form" action="/change_pw_save" method="post" onsubmit="return false">
              <div class="text-center">
                <%= image_tag 'logo-site-new.png' %>
              </div>
              <h3 class="text-center txt-primary">
                <%= "Change Password" %>
              </h3>
              <div class="md-input-wrapper">
                <input type="password"  class="md-form-control md-static field field-password" name="pw_new" id="pw_new" value="" placeholder="">
                <label><%=  "Password" %></label>
              </div>
              <div class="md-input-wrapper">
                <input type="password" class="md-form-control md-static field field-password" name="pw_confirm" id="pw_confirm" value="" placeholder="">
                <label><%=  "Password Confirm" %></label>
              </div>
              <input type="submit" id="pw_save" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" onclick="verifyLogin()">
            </form>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>
<% content_for :js  do %>
  <script type="text/javascript">
      function verifyLogin() {
          $(".loading.hidden").removeClass("hidden");
          $.ajax({
              url: "/change_pw_save",
              type: "POST",
              data: {
                  pw_new: $("#pw_new").val(),
                  pw_confirm: $("#pw_confirm").val()
              }
          }).done(function(res) {
              if(res["error"]!= undefined) {
                  $("#txtPassword").val("");
                  $(".loading").addClass("hidden");
                  $.growl({
                      message: res["error"]
                  },{
                      type: "danger",
                      allow_dismiss: true,
                      label: 'Cancel',
                      className: 'btn-xs btn-inverse',
                      placement: {
                          from: 'top',
                          align: 'center'
                      },
                      delay: 0,
                      animate: { enter: 'animated fadeInDown' }
                  });
              } else {
                  $('.section-wrapper').html(res["data"])
              }
              $(".loading").addClass("hidden");

          });
      }
  </script>
<% end %>