<%= public_css_path("/icofont/icofont.min.css") %>
<div id="tab<%= car.idQuoteCars %>" class="card col-lg-12 tab-pane car-pane active car-<%= car.idQuoteCars %> veh-<%= vehicle['idVehiculeInfo'] %>" role="tabpanel" data-weight="<%= (vehicle['weight']).to_f %>" data-byweight="<%= car.weight %>" data-notbyweight="<%= (vehicle['weight']).to_f %>">
  <div class="card-header">
    <h5 class="card-header-text"><%= vehicle.make.to_s + " " + vehicle.model + " " + vehicle.year %></h5>
  </div>
  <div class="card-block">
    <div class="row">

      <div class="col-lg-1 col-sm-1">
        <span class="md-add-on sm-screen-card">
          <i class="icofont-muscle-weight"></i>
        </span>
      </div>

      <div class="col-lg-11 col-sm-11">
        <div class="md-input-wrapper">
          <div class="row">
            <div class="col-lg-4 col-sm-4">
              <div class="md-input-wrapper cashradio">
                <input type="radio" name="byweight<%= car.idQuoteCars %>" onchange="calcPrice(<%= car.idQuoteCars %>);" value="1"

                       <%
                         if  (car.by_weight == true) or (car.by_weight.nil? ? (vehicle.year.to_f < Setting.where(name: 'weight_year').first.value.to_f) : false) %>
                       checked="checked"
                       <% end %>

                       <%
                         if (car.by_weight == true) or (car.by_weight.nil? ? (vehicle.year.to_f < Setting.where(name: 'weight_year').first.value.to_f) : false) %>
                       #disabled="true"
                       <% end %> class="handlingOptionRadio">
                <label>Yes</label><br>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4">
              <div class="md-input-wrapper cashradio">
                <input type="radio" name="byweight<%= car.idQuoteCars %>" onchange="calcPrice(<%= car.idQuoteCars %>);" value="0"
                       <%
                         if (car.by_weight == false) or (car.by_weight.nil? ? (vehicle.year.to_f > Setting.where(name: 'weight_year').first.value.to_f) : false ) %>
                       checked="checked"
                       <% end %>

                       <%
                         if (car.by_weight == false) or (car.by_weight.nil? ? (vehicle.year.to_f > Setting.where(name: 'weight_year').first.value.to_f) : false ) %>
                       #disabled="true"
                       <% end %> class="handlingOptionRadio">
                <label>No</label>
              </div>
            </div>
          </div>
          <label style="top: -15px;font-size: 13px;width: 120%;"><b>By Weight</b><span class="required">*</span></label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1 col-sm-1 wheels<%= car.idQuoteCars %>">
        <span class="md-add-on sm-screen-card">
          <i class="icofont icofont-disc"></i>
        </span>
      </div>

      <div class="col-lg-5 col-sm-5 wheels<%= car.idQuoteCars %>" id="wheels<%= car.idQuoteCars %>">
        <div class="md-input-wrapper">
          <input type="number" name="wheels<%= car.idQuoteCars %>" min="0" max="4"
                 onkeyup="calcPrice(<%= car.idQuoteCars %>);" onchange="calcPrice(<%= car.idQuoteCars %>);"
                 value="<%= car.missingWheels %>" class="md-form-control md-static"
                 data-old-value="">

          <label style="top: -15px;">Missing Wheels<span class="required">*</span></label>
        </div>
      </div>
      <div class="col-lg-1 col-sm-1 cat<%= car.idQuoteCars %>">
        <span class="md-add-on sm-screen-card">
          <i class="icofont icofont-disc"></i>
        </span>
      </div>

      <div class="col-lg-5 col-sm-5 cat<%= car.idQuoteCars %>" id="cat<%= car.idQuoteCars %>">
        <div class="md-input-wrapper">
          <div class="row">
            <div class="col-lg-4 col-sm-4">
              <div class="md-input-wrapper cashradio">
                <input type="radio" name="cat<%= car.idQuoteCars %>" onchange="calcPrice(<%= car.idQuoteCars %>);" value="1"
                       <%
                         if (car != nil && car.missingCat == true) %>
                       checked="checked"
                       <% end %> class="handlingOptionRadio">
                <label>Yes</label><br>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4">
              <div class="md-input-wrapper cashradio">
                <input type="radio" name="cat<%= car.idQuoteCars %>" onchange="calcPrice(<%= car.idQuoteCars %>);" value="0"
                <%
                  if (car == nil || car.missingCat == false) %>
                       checked="checked"
                       <% end %> class="handlingOptionRadio">
                <label>No</label>
              </div>
            </div>
          </div>
          <label style="top: -15px;font-size: 13px;width: 120%;">Catalytic Converter Missing<span class="required">*</span></label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1 col-sm-1 pickup<%= car.idQuoteCars %>">
        <span class="md-add-on sm-screen-card">
          <i class="icofont icofont-truck-loaded"></i>
        </span>
      </div>
      <div class="col-lg-5 col-sm-5 pickup<%= car.idQuoteCars %>" id="pickup<%= car.idQuoteCars %>">
        <div class="md-input-wrapper">
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <div class="md-input-wrapper cashradio">
                <input type="radio" name="pickup<%= car.idQuoteCars %>" onchange="calcPrice(<%= car.idQuoteCars %>);" value="pickup"
                <%
                  if (car == nil || car.gettingMethod == "pickup")
                %>
                       checked="checked"
                       <% end %>
                       class="handlingOptionRadio">
                <label>Pickup</label><br>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="md-input-wrapper cashradio" style="width: 80px;">
                <input type="radio" name="pickup<%= car.idQuoteCars %>" onchange="calcPrice(<%= car.idQuoteCars %>);" value="dropoff"
                <%
                  if (car != nil && car.gettingMethod == "dropoff") %>
                       checked="checked"
                       <% end %> class="handlingOptionRadio">
                <label style="font-size: 13px;">Drop Off</label>
              </div>
            </div>
          </div>
          <label style="top: -15px;font-size: 13px">Transport<span class="required">*</span></label>
        </div>
      </div>
      <div class="col-lg-1 col-sm-1 bat<%= car.idQuoteCars %>">
        <span class="md-add-on sm-screen-card">
          <i class="icofont icofont-truck"></i>
        </span>
      </div>
      <div class="col-lg-5 col-sm-5 bat<%= car.idQuoteCars %>">
        <div class="md-input-wrapper">
          <div class="row">
            <div class="col-lg-4 col-sm-4">
              <div class="md-input-wrapper cashradio">
                <input type="radio" name="bat<%= car.idQuoteCars %>" onchange="calcPrice(<%= car.idQuoteCars %>);" value="1"
                       <%
                         if (car != nil && car.missingBattery == true) %>
                       checked="checked"
                       <% end %>
                       class="handlingOptionRadio">
                <label>Yes</label><br>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4">
              <div class="md-input-wrapper cashradio">
                <input type="radio" name="bat<%= car.idQuoteCars %>" onchange="calcPrice(<%= car.idQuoteCars %>);" value="0"
                       <%
                         if (car == nil || car.missingBattery == false) %>
                       checked="checked"
                       <% end %>
                       class="handlingOptionRadio">
                <label>No</label>
              </div>
            </div>
          </div>
          <label style="top: -15px;font-size: 13px">Battery Missing<span class="required">*</span></label>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-1 col-sm-1">
        <span class="md-add-on sm-screen-card">
            <i class="icofont icofont-disc"></i>
        </span>
      </div>

      <div class="col-lg-11 col-sm-11">
        <div class="md-input-wrapper">
          <div class="row">
            <div class="col-lg-2 col-sm-2">
              <div class="md-input-wrapper cashradio">
                <input type="radio" name="still_driving<%= car.idQuoteCars %>" onchange="calcPrice(<%= car.idQuoteCars %>);" value="1"
                       <%
                         if (car != nil && car.still_driving == true) %>
                       checked="checked"
                       <% end %>
                       class="handlingOptionRadio">
                <label>Yes</label><br>
              </div>
            </div>
            <div class="col-lg-2 col-sm-2">
              <div class="md-input-wrapper cashradio">
                <input type="radio" name="still_driving<%= car.idQuoteCars %>" onchange="calcPrice(<%= car.idQuoteCars %>);" value="0"
                <%
                  if (car == nil || car.still_driving == false) %>
                       checked="checked"
                       <% end %>
                       class="handlingOptionRadio">
                <label>No</label>
              </div>
            </div>

          </div>
          <label style="top: -15px;font-size: 13px" class="still-label">Still driving the vehicule?<span class="required">*</span></label>
        </div>
      </div>
      <br>
      <div class="col-lg-1 col-sm-1">
        <span class="md-add-on map sm-screen-card" data-id="<%= car.idQuoteCars %>">
            <i class="icofont icofont-map"></i>
        </span>
      </div>
      <div class="col-lg-11 col-sm-11 address-sm-screen">
        <div class="md-input-wrapper quote-select">
          <input type="hidden" id="car-distance<%= car.idQuoteCars %>" name="car-distance<%= car.idQuoteCars %>" value="<%= car.distance %>"/>
          <input type="hidden" id="car-excess-distance<%= car.idQuoteCars %>" name="car-excess-distance<%= car.idQuoteCars %>" value=""/>
          <input type="hidden" id="car-postal<%= car.idQuoteCars %>" name="car-postal<%= car.idQuoteCars %>" value="<%= car.address.postal if car.address.present? %>"/>
          <input type="hidden" id="car-city<%= car.idQuoteCars %>" name="car-city<%= car.idQuoteCars %>" value="<%= car.address.city if car.address.present? %>"/>
          <input type="hidden" id="car-street<%= car.idQuoteCars %>" name="car-street<%= car.idQuoteCars %>" value=""/>
          <input type="hidden" id="car-province<%= car.idQuoteCars %>" name="car-province<%= car.idQuoteCars %>" value="<%= car.address.province if car.address.present? %>"/>
          <input type="text" class="md-form-control md-static  locations" data-id="<%= car.idQuoteCars %>" name="carlocation<%= car.idQuoteCars %>" id="car-location<%= car.id %>" value="<%= car.address.address  if car.address.present? %>" data-addressId="<%= car.address.id  if car.address.present? %>" />
             <%# if (car.address.present?) %>
               <%#
            #     address = car.address
            #     t = ""
            #     t += address.address + ", " if address.address && address.address.present?
            #     t += address.city + ", " if address.city && address.city.present?
            #     t += address.province + ", " if address.province && address.province.present?
            #   %>
            <!-- #   <option value="<%#= car.address.idAddress %>" data-select2-tag='true'><%#= t + car.address.postal %></option> -->
             <%# end %>
          <!-- </select> -->
          <%#(@quote['customer']['address'].present? ? @quote['customer']['address']['address'] : ' ') %>
          <label class="addr-top">Select an address or enter a Postal Code for this
            car<span class="required">*</span></label>
        </div>
      </div>
       <%# state = car.address.present? ? 'block' : 'none' %>
      <div class="col-lg-1 col-sm-1 car-ex-address<%= car.idQuoteCars %>" style="display: none;">
              <span class="md-add-on sm-screen-card">
                  <i class="icofont icofont-disc"></i>
              </span>
      </div>
      <%#= !car.address.present? ? "style=display:none;" : '' %>
      <div class="col-lg-5 col-sm-5 car-ex-address<%= car.idQuoteCars %> car-street" style="display: none;" >
        <div class="md-input-wrapper">
          <!-- <input type="text" name="car-street<%= car.idQuoteCars %>" value="<%= car.address.present? ? car.address.address : '' %>" class="md-form-control md-static"/> -->
          <!-- <input type="hidden" name="car-postal<%= car.idQuoteCars %>" value="<%= car.address.present? ? car.address.postal : '' %>" class="md-form-control md-static"/> -->
          <label style="top: -15px;">Street<span class="required">*</span></label>
        </div>
      </div>
      <div class="col-lg-1 col-sm-1 car-ex-address<%= car.idQuoteCars %>" style="display: none;">
        <span class="md-add-on sm-screen-card">
            <i class="icofont icofont-disc"></i>
        </span>
      </div>
      <div class="col-lg-5 col-sm-5 car-ex-address<%= car.idQuoteCars %>" style="display: none;">
        <div class="md-input-wrapper">
          <!-- <input type="text" name="car-city<%= car.idQuoteCars %>" value="<%= car.address.present? ? car.address.city : '' %>" class="md-form-control md-static"/> -->
          <label style="top: -15px;">City<span class="required">*</span></label>
        </div>
      </div>
      <div class="col-lg-1 col-sm-1 car-ex-address<%= car.idQuoteCars %>" style="display: none;">
              <span class="md-add-on sm-screen-card">
                  <i class="icofont icofont-disc"></i>
              </span>
      </div>
      <div class="col-lg-5 col-sm-5 car-ex-address<%= car.idQuoteCars %>" style="display: none;">
        <div class="md-input-wrapper">
          <!-- <select class="md-form-control md-static" name="car-province<%= car.idQuoteCars %>" id="car-province<%= car.idQuoteCars %>">
            <option value="ON" <%= car.address.present? ? car.address.province == "ON" ? 'selected' : '' : '' %>>Ontario</option>
            <option value="BC" <%= car.address.present? ? car.address.province == "BC" ? 'selected' : '' : '' %>>British
              Columbia
            </option>
            <option value="QC" <%= car.address.present? ? car.address.province == "QC" ? 'selected' : '' : '' %>>Quebec</option>
            <option value="AL" <%= car.address.present? ? car.address.province == "AL" ? 'selected' : '' : '' %>>Alberta</option>
            <option value="NS" <%= car.address.present? ? car.address.province == "NS" ? 'selected' : '' : '' %>>Nova
              Scotia
            </option>
            <option value="NL" <%= car.address.present? ? car.address.province == "NL" ? 'selected' : '' : '' %>>Newfoundland
              and Labrador
            </option>
            <option value="SA" <%= car.address.present? ? car.address.province == "SA" ? 'selected' : '' : '' %>>Saskatchewan</option>
            <option value="MA" <%= car.address.present? ? car.address.province == "MA" ? 'selected' : '' : '' %>>Manitoba</option>
            <option value="NB" <%= car.address.present? ? car.address.province == "NB" ? 'selected' : '' : '' %>>New
              Brunswick
            </option>
            <option value="PE" <%= car.address.present? ? car.address.province == "PE" ? 'selected' : '' : '' %>>Prince
              Edward Island
            </option>
          </select>
           --><label style="top: -15px;">Province<span class="required">*</span></label>
        </div>
      </div>

    </div><!--row-->
    <div class="card-header">
      <h6 class="card-header-text">Price calculation</h6>
    </div>
    <style>
      .n {
        text-align: right
      }
    </style>
    <div class="card-block">
      <div class="row">
        <div class="col-lg-6">
          <h6>Details</h6>
        </div>
        <div class="col-lg-6">
          <h6>Amounts</h6>
        </div>
        <div class="col-lg-4">
          Weight:
        </div>
        <div class="col-lg-2 weightWrapper<%=car.idQuoteCars %>"  data-weightValue="<%= car.weight %>" id="weight-wrapper-dv">
          <%  if  (car.by_weight == true) or (car.by_weight.nil? ? (vehicle.year.to_f < Setting.where(name: 'weight_year').first.value.to_f) : false) %>
            <input type="number" step="0.1"  class="weight<%=car.idQuoteCars %>" name="weight<%=car.idQuoteCars %>" id="weight<%=car.idQuoteCars %>"  value="<%= car.weight %>" onchange="onWeightChange(<%= car.idQuoteCars %>);" style="width: 100%;text-align: right;">
          <%else %>
            <div class="n" id="weight<%= car.idQuoteCars %>"></div>
          <% end %>
        </div>
        <div class="col-lg-4">
        </div>
        <div class="col-lg-2">
        </div>
        <% if (current_user.roles == "admin") %>

          <div class="col-lg-4">
            Steel Price:
          </div>
          <div class="col-lg-2">
            <div class="n" id="steelPrice<%= car.idQuoteCars %>"></div>
          </div>
        <% end %>
        <div class="col-lg-4">
          Weight price:
        </div>
        <div class="col-lg-2">
          <div class="n" id="weightPrice<%= car.idQuoteCars %>"></div>
        </div>
        <div class="col-lg-4">
          Distance:
        </div>
        <div class="col-lg-2">
          <div class="n" id="distance<%= car.idQuoteCars %>"><%= (car.distance).to_i %></div>
        </div>
        <div class="col-lg-3">
        </div>
        <div class="col-lg-3">
        </div>
        <div class="col-lg-4">
          Free Distance:
        </div>
        <div class="col-lg-2">
          <div class="n" id="freeDistance<%= car.idQuoteCars %>"></div>
        </div>
        <div class="col-lg-3">
        </div>
        <div class="col-lg-3">
        </div>
        <div class="col-lg-4">
          Excess Distance:
        </div>
        <div class="col-lg-2">
          <div class="n" id="excessDistance<%= car.idQuoteCars %>"></div>
        </div>
        <div class="col-lg-3">
        </div>
        <div class="col-lg-3">
        </div>
        <div class="col-lg-4">
          Excess Distance cost:
        </div>
        <div class="col-lg-2">
          <div class="n" id="excessCost<%= car.idQuoteCars %>"></div>
        </div>
        <div class="col-lg-4">
          Distance cost:
        </div>
        <div class="col-lg-2">
          <div class="n" id="distanceCost<%= car.idQuoteCars %>"></div>
        </div>
        <div class="col-lg-4">
          Missing Cat cost:
        </div>
        <div class="col-lg-2">
          <div class="n" id="missingCatCost<%= car.idQuoteCars %>"></div>
        </div>
        <div class="col-lg-4">
          Missing Cat:
        </div>
        <div class="col-lg-2">
          <div class="n" id="missingCat<%= car.idQuoteCars %>"></div>
        </div>
        <div class="col-lg-4">
          Missing Battery cost:
        </div>
        <div class="col-lg-2">
          <div class="n" id="missingBatCost<%= car.idQuoteCars %>"></div>
        </div>
        <div class="col-lg-4">
          Missing Battery:
        </div>
        <div class="col-lg-2">
          <div class="n" id="missingBat<%= car.idQuoteCars %>"></div>
        </div>

        <div class="col-lg-4">
          Missing Battery:
        </div>
        <div class="col-lg-2">
          <div class="n" id="missingBat<%= car.idQuoteCars %>"></div>
        </div>
        <div class="col-lg-4">
          Missing Wheels:
        </div>
        <div class="col-lg-2">
          <div class="n" id="missingWheels<%= car.idQuoteCars %>"></div>
        </div>
        <div class="col-lg-4">
          Pickup cost:
        </div>
        <div class="col-lg-2">
          <div class="n" id="pickupCost<%= car.idQuoteCars %>"></div>
        </div>
        <div class="col-lg-4">
          Pickup:
        </div>
        <div class="col-lg-2">
          <div class="n" id="pickup<%= car.idQuoteCars %>"></div>
        </div>
        <div class="col-lg-3">
        </div>
        <div class="col-lg-3">
        </div>
        <!--
        <div class="col-lg-4">
          Custom fee:
        </div>
        <div class="col-lg-2">
          <div class="n" id="customFee<%= car.idQuoteCars %>"></div>
        </div>
        -->
        <div class="col-lg-6"><!-- line break --></div>
        <div class="col-lg-4">
         Door Price:
        </div>
        <div class="col-lg-2">
          <div class="n" id="cusflatfee<%= car.idQuoteCars %>"></div>
        </div>
        <div class="col-lg-4">
          Bonus on Door Price:
        </div>
        <div class="col-lg-2">
          <div class="n" id="flatfee<%= car.idQuoteCars %>"></div>
        </div>
        <div class="col-lg-4" style="">
          Bonus:
        </div>
        <div class="col-lg-2" style="">
          <div class="n" id="bonus<%= car.idQuoteCars %>"></div>
        </div>
        <!--
        <div class="col-lg-4">
          CarBonus:
        </div>
        <div class="col-lg-2">
          <div class="n" id="bonuscar<%= car.idQuoteCars %>"></div>
        </div>
        -->
        <div class="col-lg-6"><!-- line break --></div>
        <!--
        <div class="col-lg-4">
          SteelBonus:
        </div>
        <div class="col-lg-2">
          <div class="n" id="bonussteel<%= car.idQuoteCars %>"></div>
        </div>
        -->
        <div class="col-lg-4">
          Net:
        </div>
        <div class="col-lg-2">
          <div class="n" id="carPrice<%= car.idQuoteCars %>"></div>
        </div>
        <div class="col-lg-6"></div>
        <div class="col-lg-4">
          New Price:
        </div>
        <div class="col-lg-2" style="padding-right: 0px; padding-left: 0px;">
          <input  name="" type='number' step='0.1' onchange="onNewPriceChange(<%= car.idQuoteCars %>)" id="carNewPrice<%= car.idQuoteCars %>" style="width: 100%; text-align: right;">
          <div id="request_for_approval" style="display: none;">Request to admin for approval </div>
        </div>
        <div class="col-lg-6"></div>

        <div class="col-lg-4">
          Increase:
        </div>
        <div class="col-lg-2" style="padding: 0px; padding-right: 7px;">
          <div class="n" id="increase_in_price<%= car.idQuoteCars %>"></div>
        </div>
    </div>
  </div>
</div>
</div>

<script !src="">
    $(".car-location-select2").each(function (a) {
        if (($(this).children("option") != undefined) && (($(this).children("option").val() != undefined) && $(this).children("option").val().length > 0)) {
            var id = $(this).data("id");
        }
    })
</script>