<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 p-0">
        <div class="main-header">
          <h4><%= "QUICK QUOTE" %></h4>
          <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
            <li class="breadcrumb-item">
              <a href="/dashboard">
                <i class="icofont icofont-home"></i>
              </a>
            </li>
            <li class="breadcrumb-item">Clients</li>
            <li class="breadcrumb-item"><a href="/quotes"><%= "QUOTE" %></a></li>
            <li class="breadcrumb-item"><a href="/quotes/<%= quote.idQuote %>/edit"><%= "EDIT QUOTE" %></a></li>
            <li class="breadcrumb-item"><a href="#"><%= "BOOK QUOTE" %></a></li>
          </ol>
        </div>
      </div>
    </div>
    <form id="the_form">
      <div class="row">
        <div class="col-lg-12">
          <h2><%= "Book Quote" %></h2>
        </div>
        <div class="card col-lg-12">
          <div class="card-header">
            <a href="#" class="btn btn-danger waves-effect d-inline-block f-right">
              <i class="icofont icofont-file-pdf"></i>
              Envelop
            </a>
<!--            <h5><%#= quote.refNo %></h5>-->
          </div>
          <div class="card-block row">
            <!-- Nav tabs -->
            <div class="col-lg-12 tab-header">
              <ul class="nav nav-tabs md-tabs tab-timeline tab-details" role="tablist">
                <%if(quote.idQuote != nil)
                    cars.each do |car, index| %>
                      <li class="nav-item car<%= car["idVehiculeInfo"] %>" style="display:block" id="cartab-<%= car["idVehiculeInfo"] %>">
                        <a class="nav-link<%= index == 0 ? " active" : "" %>" data-toggle="tab" href="#tabpanel-<%= car["idVehiculeInfo"] %>" role="tab"><%= car["make"] + " " + car["model"] + " " + car["year"] %></a>
                        <div class="slide"></div>
                      </li>
                    <% end
                end%>
                  </ul>
                  </div>
                  <div class="col-lg-12 row tab-content tab-content-details vehicle-parameters">
                    <% if(quote.idQuote != nil)
                        quote.quote_car.each.with_index do |car, index| %>
                        <%= render partial: "vehicle_booking",locals: {
                            vehicle: cars[index],
                            car: car,
                            index: index,
                            quote: quote}
                        %>           
                        <% end %>
                          <div class="row" style="padding-bottom:10px;position: absolute;bottom: 0;left: 48px;bottom: -25px;">
                            <div class="col-lg-6">
                              <h6>Payment Method</h6>
                            </div>
                            <div class="col-lg-6">
                              <h6 id="customer_email"  class="customer_email">Customer email</h6>
                            </div>

                            <div class="col-lg-6 md-input-wrapper">
                              <select name="payment_method" data-id="" class="md-form-control md-static payment-select">
                                <option value="">Select a payment method</option>
                               <option value="cash" <%= (quote["payment_method"] == 'cash' ? 'selected' : '') %>>Cash</option>
                                <option value="check"     <%= (quote["payment_method"] == 'check' ? 'selected' : '') %>>Check</option>
                                <option value="eft"     <%= (quote["payment_method"] == 'eft' ? 'selected' : '') %>>EFT</option>
                              </select>
                            </div>
                            <div class="col-lg-6 md-input-wrapper">
                              <div class="col-lg-6">
                                <input type="text" name="customer_email" value="<%= quote.customer.email %>" class="customer_email customer_emails" id="customer_email" >
                              </div>
                              <input type="text" name="quote_id" value="<%= quote.idQuote %>" hidden>
                              <input type="text" name="customer_id" value="<%= quote.customer.idClient %>" hidden>
                            </div>
                          </div>
                     <% end %>
                  </div>
          </div>
          <div class="card-block quick-quote-navigator" style="padding-top: 35px;">
            <a href="javascript:saveBooking();" class="btn btn-primary waves-effect d-inline-block">
              <i class="icofont icofont-cur-dollar"></i>
              <%= "SAVE" %>
            </a><br>
            <a href="#" class="btn btn-green waves-effect d-inline-block">
              <i class="icofont icofont-cur-dollar"></i>
              <%= "SAVE AND SCHEDULE" %>
            </a><br>
            <a href="javascript:gotoEditQuote(<%= quote.idQuote %>);" class="btn btn-danger waves-effect d-inline-block">
              <%= "RETURN" %>
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<% content_for :js do %>
  <script>
      var quoteNo = "<%= quote.idQuote || nil %>";
      $('.nav-item a:first').tab('show');
      setTimeout(function() { $('.nav-item').eq(0).click(); }, 100);
  </script>
  <%= public_js_path("book-quote.js") %>
  <%= public_js_path("common.js") %>
<% end %>
