<div class="content-wrapper">
  <!-- Container-fluid starts -->
  <div class="container-fluid">
    <!-- Main content starts -->
    <div >
      <!-- Row Starts -->
      <div class="row">
        <div class="col-sm-12 p-0">
          <div class="main-header">
            <h4><%= (user.is_a?(Hash) ? "Edit" : "Create") %> User</h4>
            <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
              <li class="breadcrumb-item">
                <a href="/dashboard">
                  <i class="icofont icofont-home"></i>
                </a>
              </li>
              <li class="breadcrumb-item">Administration</li>
              <li class="breadcrumb-item"><a href="/users">Users</a></li>
              <li class="breadcrumb-item">
                <a href="/users/<%= (user.is_a?(Hash) ? user["idUser"].to_s+"/edit" : "new") %>">
                  <%= (user.is_a?(Hash) ? "Edit" : "Create") %> User
                </a>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <!-- Row end -->
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h5 class="card-header-text d-inline-block m-b-0 f-w-600">
                <%= (user.is_a?(Hash) ? "Edit" : "Create") %> User
              </h5>
              <a href="<%= (user["roles"] == "admin" ? "/users":"/profil") %>" class="btn btn-primary waves-effect waves-light f-right md-trigger">
                <i class="icon-people"></i>  Return
              </a>
            </div>
            <div class="card-block text-center">
              <div class="row">
                <div class="md-group-add-on col-lg-6">
                <span class="md-add-on">
                    <i class="icofont icofont-globe"></i>
                </span>
                  <div class="md-input-wrapper">
                    <input type="text" class="md-form-control md-static" id="txtUsername"<%=
                      ( user.is_a?(Hash) ? ' value=' + user["username"] : "") %>>
                    <label>Username <span class="required">*</span></label>
                  </div>
                </div>
                <div class="md-group-add-on col-lg-6">
                                    <span class="md-add-on">
                                        <i class="icofont icofont-company"></i>
                                    </span>
                  <div class="md-input-wrapper">
                    <select class="md-form-control md-static selectcash" id="txtRole">
                      <option value="customerCare" <%= (  user["roles"] == "customerCare" ? " selected" : "") %>>Customer Care</option>
                      <option value="dispatcher" <%= (  user["roles"] == "dispatcher" ? " selected" : "") %>>Dispatcher</option>
                      <option value="admin" <%= ( user["roles"] == "admin" ? " selected" : "") %>>Admin</option>
                    </select>
                    <label>Role</label>
                  </div>
                </div>
                <div class="md-group-add-on col-lg-6">
                                    <span class="md-add-on">
                                        <i class="icofont icofont-ui-user"></i>
                                    </span>
                  <div class="md-input-wrapper">
                    <input type="text" class="md-form-control md-static" id="txtFirstName"<%=
                      ( user.is_a?(Hash) ? ' value=' + user["firstName"] : "") %>>
                    <label>First Name</label>
                  </div>
                </div>
                <div class="md-group-add-on col-lg-6">
                                    <span class="md-add-on">
                                        <i class="icofont icofont-ui-user"></i>
                                    </span>
                  <div class="md-input-wrapper">
                    <input type="text" class="md-form-control md-static" id="txtLastName"<%=
                      ( user.is_a?(Hash) ? ' value=' + user["lastName"] : "") %>>
                    <label>Last Name</label>
                  </div>
                </div>
                <div class="md-group-add-on col-lg-6">
                                    <span class="md-add-on">
                                        <i class="icofont icofont-ui-email"></i>
                                    </span>
                  <div class="md-input-wrapper">
                    <input type="email" class="md-form-control md-static" id="txtEmail"<%=
                      ( user.is_a?(Hash) ? ' value=' + user["email"] : "") %>>
                    <label>Email <span class="required">*</span></label>
                  </div>
                </div>
                <div class="md-group-add-on col-lg-6">
                                    <span class="md-add-on">
                                        <i class="icofont icofont-ui-cell-phone"></i>
                                    </span>
                  <div class="md-input-wrapper">
                    <input type="tel" class="md-form-control md-static" id="txtPhone" value="<%=
                      ( user.is_a?(Hash) ? user["phone"] : "") %>">
                    <label>Phone Number</label>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="md-group-add-on col-lg-12">
                                    <span class="md-add-on">
                                        <i class="icofont icofont-ui-password"></i>
                                    </span>
                  <div class="md-input-wrapper">
                    <input type="password" class="md-form-control md-static" id="txtPwd">
                    <label>New Password</label>
                  </div>
                </div>
                <div class="md-group-add-on col-lg-12">
                                    <span class="md-add-on">
                                        <i class="icofont icofont-ui-password"></i>
                                    </span>
                  <div class="md-input-wrapper">
                    <input type="password" class="md-form-control md-static" id="txtPwdValidation">
                    <label>Validation</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="text-center">
                <button type="button" class="btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block userSave" id="btnSaveUser" data-id-user="<%= ( user.is_a?(Hash) ? user["idUser"] : "new" ) %>">Save</button>
                <a href="/users" class="btn btn-primary waves-effect m-r-20 f-w-600 md-close d-inline-block">
                  <i class="icon-people"></i> Return
                </a>
              </div>
            </div>
          </div>
          <!-- Edit Contact Ends Model-->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid ends -->
</div>
<% content_for :js do %>
  <script>
      var user = JSON.stringify(<%= (user.to_json.to_s.html_safe) %>);
  </script>
  <%= public_js_path('users-script.js') %>
<% end %>
