<%= render :partial => 'shared/header' %>
<%= render :partial => 'shared/menu' %>
<div class="content-wrapper">
  <!-- Container-fluid starts -->
  <div class="container-fluid">
    <!-- Row Starts -->
    <div class="row">
      <div class="col-sm-12 p-0">
        <div class="main-header">
          <h4><%=t("settings.h1") %></h4>
          <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
            <li class="breadcrumb-item"><a href="/dashboard"><i class="icofont icofont-home"></i></a></li>
            <li class="breadcrumb-item"><%= t("settings.admin") %>></li>
            <li class="breadcrumb-item"><a href="/settings"><%=t("settings.h1") %></a></li>
          </ol>
        </div>
      </div>
    </div>
    <!-- Row end -->
    <div class="row">
      <div class="col-md-12">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h5><%=t("settings.h1") %></h5>
            </div>
            <div class="card-block">
              <form method="post" id="the_form" action="/settings/<%=@settings.first.id %>">
                <input type="hidden" name="_method" value="put" />
                <br>
                <div class="row">
                  <h6><%= t("settings.h2") %></h6>
                </div>
                <hr>
                <% @settings.each do |setting| %>
                  <% if (setting.grade == nil || setting.grade == "") %>
                    <div class="form-group row">
                      <label class="col-sm-3  col-form-label form-control-label"><%= label(setting.name) %></label>
                      <div class="col-sm-9 ">
                        <% if setting.name == "weight_year" %>
                          <input class="form-control" type="number" step="1" onchange="setTwoNumberDecimal" name="<%= setting.name %>" value="<%= setting.value %>">
                        <% else %>
                          <input class="form-control" type="number" step="0.1" onchange="setTwoNumberDecimal" name="<%= setting.name %>" value="<%= setting.value %>">
                        <% end %>
                        </div>
                    </div>
                  <% end %>
                <% end %>


                <% groupOrder = [t("settings.bronze"), t("settings.silver"), t("settings.gold")] %>
                <% groupOrder.each do |group| %>
                  <br>
                  <div class="row">
                    <h6><%= group %> <%= t("settings.bonus") %></h6>
                  </div>
                  <% @settings.each do |setting| %>
                    <% if (setting.grade == group) %>
                      <% if (setting.name == 'bonus') %>
                        <div class="form-group row">
                          <label class="col-sm-3  col-form-label form-control-label"><%= t("settings.bonus") %></label>
                          <div class="col-sm-9 ">
                            <input class="form-control" type="number" onchange="setTwoNumberDecimal" name="--<%= group %>--bonus" value="<%= setting.value %>">
                          </div>
                        </div>
                      <% end %>
                      <% if (setting.name == 'bonus-type') %>
                        <div class="form-group row">
                          <label class="col-sm-3  col-form-label form-control-label"></label>
                          <div class="col-sm-9 ">
                            <div class="md-input-wrapper">
                              <select name="--<%= group %>--bonus-type">
<!--                                <option value="steelp" <%#= (setting.value == 'steelp' ? 'selected' : '') %>>% <%#= t("settings.option_3")  %>-->
<!--                                  -->
<!--                                </option>-->
<!--                                <option value="steeld" <%#= (setting.value == 'steeld' ? 'selected' : '') %>>$ <%#= t("settings.option_3")  %>-->
<!--                                  -->
<!--                                </option>-->
<!--                                <option value="carp"   <%#= (setting.value == 'carp' ? 'selected' : '') %>>%<%#= t("settings.option_2") %>  -->
<!--                                 -->
<!--                                </option>-->
<!--                                <option value="card"   <%#= (setting.value == 'card' ? 'selected' : '') %>>$ <%#= t("settings.option_2") %> -->
<!--                                  -->
<!--                                </option>-->
                                <option value="flatfee"   <%= (setting.value == 'flatfee' ? 'selected' : '') %>>$ <%= t("settings.option_1") %>
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
                <div class="row">
                  <div class="form-group col-lg-12 text-center">
                    <input type="submit" class="btn btn-primary waves-effect save_button waves-light md-trigger m-t-30" value="Save">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid ends -->
</div>
<% content_for :js do %>
  <script type="text/javascript">
      function setTwoNumberDecimal(event) {
          this.value = parseFloat(this.value).toFixed(2);
      }
      $("#the_form").validate({
          rules: {
              weight_year: {
                  required: true,
                  min: 1,
                  max: 2050
              },
              steelPrice: {
                  required: true,
                  min: 0
              },
              freeDistance: {
                  required: true,
                  min: 0
              },
              excessPrice: {
                  required: true,
                  min: 0
              },
              catalysorPrice: {
                  required: true,
                  min: 0
              },
              wheelPrice: {
                  required: true,
                  min: 0
              },
              batteryPrice: {
                  required: true,
                  min: 0
              },
              DealerFlatFee: {
                  required: true,
                  min: 0
              },
              "--Bronze--bonus": {
                  required: true,
                  min: 0
              },
              "--Silver--bonus": {
                  required: true,
                  min: 0
              },
              "--Gold--bonus": {
                  required: true,
                  min: 0
              }
          },
          submitHandler: function(form) {
              form.submit();
          }
      })
      $(".save_button").click(function(e){
          e.preventDefault();
          if($("#the_form").valid()){
              $("#the_form").submit()
          }
      })
  </script>
<% end %>
