<%= render :partial => 'shared/header' %>
<%= render :partial => 'shared/menu' %>
<div class="content-wrapper">
  <!-- Container-fluid starts -->
  <div class="container-fluid">
    <!-- Row Starts -->
    <div class="row">
      <div class="col-sm-12 p-0">
        <div class="main-header">
          <h4>Settings</h4>
          <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
            <li class="breadcrumb-item"><a href="/dashboard"><i class="icofont icofont-home"></i></a></li>
            <li class="breadcrumb-item">Administration</li>
            <li class="breadcrumb-item"><a href="/settings">Settings</a></li>
          </ol>
        </div>
      </div>
    </div>
    <!-- Row end -->
    <div class="row">
      <div class="col-md-12">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h5>Settings</h5>
            </div>
            <div class="card-block">
              <form method="post" action="/settings/<%=@settings.first.id %>">
                <input type="hidden" name="_method" value="put" />
                <br>
                <div class="row">
                  <h6>Values</h6>
                </div>
                <hr>
                <% @settings.each do |setting| %>
                  <% if (setting.grade == nil || setting.grade == "") %>
                    <div class="form-group row">
                      <label class="col-sm-3  col-form-label form-control-label"><%= label(setting.name) %></label>
                      <div class="col-sm-9 ">
                        <input class="form-control" type="number" step="0.01" onchange="setTwoNumberDecimal" name="<%= setting.name %>" value="<%= setting.value %>">
                      </div>
                    </div>
                  <% end %>
                <% end %>


                <% groupOrder = ["Bronze", "Silver", "Gold"] %>
                <% groupOrder.each do |group| %>
                  <br>
                  <div class="row">
                    <h6><%= group %> bonus</h6>
                  </div>
                  <% @settings.each do |setting| %>
                    <% if (setting.grade == group) %>
                      <% if (setting.name == 'bonus') %>
                        <div class="form-group row">
                          <label class="col-sm-3  col-form-label form-control-label">Bonus</label>
                          <div class="col-sm-9 ">
                            <input class="form-control" type="number" onchange="setTwoNumberDecimal" name="--<%= group %>--bonus" value="<%= setting.value %>">
                          </div>
                        </div>
                      <% end %>
                      <% if (setting.name == 'bonus-type') %>
                        <div class="form-group row">
                          <label class="col-sm-3  col-form-label form-control-label"></label>
                          <div class="col-sm-9 ">
                            <div class="md-input-wrapper">
                              <select name="--<%= group %>--bonus-type">
                                <option value="steelp" <%= (setting.value == 'steelp' ? 'selected' : '') %>>% on the
                                  steel price
                                </option>
                                <option value="steeld" <%= (setting.value == 'steeld' ? 'selected' : '') %>>$ on the
                                  steel price
                                </option>
                                <option value="carp"   <%= (setting.value == 'carp' ? 'selected' : '') %>>% on the car
                                  price
                                </option>
                                <option value="card"   <%= (setting.value == 'card' ? 'selected' : '') %>>$ on the car
                                  price
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
                <div class="row">
                  <div class="form-group col-lg-12 text-center">
                    <input type="submit" class="btn btn-primary waves-effect waves-light md-trigger m-t-30" value="Save">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid ends -->
</div>
