<tbody class="table-customers">
  <% @customers.each do |customer| %>
    <tr>
        <td><%= customer["firstName"] %></td>
        <td><%= customer["lastName"] %></td>
        <td><%= customer["type"] %></td>
        <% if customer["phone"].length >= 8 %>
            <td><%= customer["phone"][0, 3] + "-" + customer["phone"][3, 3] + "-" + customer["phone"][6..customer["phone"].length] %></td>
        <% else %>
            <td><%= customer["phone"] %></td>
        <% end %>
        <td><%= customer["extension"] %></td>
        <td><%= customer["heardofus"]["type"] %></td>
        <td><%= customer["grade"] %></td>
        <td class="faq-table-btn">
            <%# if user.roles == "admin" || user.roles == "dispatcher"  %>
            <a href="/customers/<%= customer["idClient"] %>/edit" class="btn btn-primary waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
							<i class="icofont icofont-ui-edit"></i>
						</a>
            <%# end %>
						<a href="/customers/<%= customer["idClient"] %>" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="View">
							<i class="icofont icofont-eye-alt"></i>
						</a>
        </td>
    </tr>
  <% end %>
</tbody>