<%= render :partial => 'shared/header' %>
<%= render :partial => 'shared/menu' %>
<div class="content-wrapper">
	<!-- Container-fluid starts -->
	<!-- Main content starts -->
	<div class="container-fluid">
		<div class="row">
			<div class="main-header">
				<h4>Customer Profile</h4>
				<ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
					<li class="breadcrumb-item">
						<a href="/dashboard">
							<i class="icofont icofont-home"></i>
						</a>
					</li>
					<li class="breadcrumb-item">Clients</li>
					<li class="breadcrumb-item"><a href="/customers">Customers</a></li>
					<li class="breadcrumb-item"><a href="/customers/<%= @customer.idClient %>">Customer Profile</a></li>
				</ol>
			</div>
		</div>
	</div>
	<!-- Row end -->
	<div class="row">
		<div class="col-xl-3 col-lg-4">
			<div class="card faq-left">
				<div class="card-block">
					<h4 class="f-18 f-normal m-b-10 txt-primary"><%= @customer.firstName + " " + @customer.lastName %></h4>
					<% if @customer.type != "Individual" %>
					<p class="m-b-15"><%= @customer.business.contactPosition if @customer.business %></p>
					<p class="m-b-15"><%= @customer.type %></p>
						<% if @customer.business %>
							<h5 class="f-14"><%= @customer.business.name %></h5>
							<p class="m-b-15"><%= @customer.business.description%></p>
						<% end %>
					<% end %>
						<ul>
							<li class="faq-contact-card">
								<i class="icofont icofont-phone"></i>
								<a href="tel:<%= @customer.phone %>">
									<%= phone_number_display( @customer.phone) %>
								</a>
								<% if @customer.extension != "" %>
									#<%= @customer.extension %>
								<% end %>
							</li>
							<li class="faq-contact-card">
								<i class="icofont icofont-ui-email"></i>
								<a href="mailto:<%= @customer.email %>"><%= @customer.email %></a>
							</li>
						</ul>
					</div>
				</div>
				<!-- end of card-block -->
				<% if @customer.note != "" %>
				<div class="card">
					<div class="card-block">
						<div class="panel panel-warning">
							<div class="panel-heading bg-warning">
								Information
							</div>
							<div class="panel-body">
								<p id="customerWarningInfo"><%= @customer.note %></p>
							</div>
						</div>
					</div>
				</div>
				<% end %>
			</div>
			<!-- end of col-lg-3 -->

			<!-- start col-lg-9 -->
			<div class="col-xl-8 col-lg-7">
				<!-- Nav tabs -->
				<div class="tab-header">
					<a href="/customers" class="btn btn-primary waves-effect waves-light f-right md-trigger" data-modal="modal-13">
						<i class="icon-people"></i>  Return
					</a>
					<ul class="nav nav-tabs md-tabs tab-timeline" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#personal" role="tab">Personal Info</a>
							<div class="slide"></div>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#quotes" role="tab">Quotes</a>
							<div class="slide"></div>
						</li>
					</ul>
				</div>
				<!-- end of tab-header -->

				<div class="tab-content">
            <%= render partial: "customers/customer_tab", locals: { quotes: @quotes, status: @status, customer: @customer } %>
					<!-- end of tab-pane -->
					<!-- end of about us tab-pane -->

					<!-- start tab-pane of quotes tab -->
						<%= render partial: "customers/quotes", locals: { quotes: @quotes, status: @status, customer: @customer } %>
					<!-- end of main tab content -->
				</div>
			</div>

		</div>
		<!-- Container-fluid ends -->
	</div>
<% content_for :js do %>
	<%= public_js_path('customers-script.js') %>
<% end %>
