<div class="content-wrapper">
    <!-- Container-fluid starts -->
  <div class="container-fluid">
      <!-- Row Starts -->
    <div class="row">
      <div class="col-sm-12 p-0">
        <div class="main-header">
        <h4>Dispatching</h4>
        <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
          <li class="breadcrumb-item"><a href="/dashboard"><i class="icofont icofont-home"></i></a></li>
          <li class="breadcrumb-item">Clients</li>
          <li class="breadcrumb-item"><a href="/dispatch">Dispatching</a></li>
        </ol>
      </div>
    </div>
  </div>
  <!-- Row end -->
    <div class="row">
    <div class="col-md-12">
      <div class="col-sm-12">
      <!-- Shopping cart start -->
        <div class="card">
          <div class="card-header">
            <h5 class="card-header-text d-inline-block m-b-0 f-w-600">
              Dispatching
            </h5>
            <% if (params[:dispatch_id])  %>
              <a href="/quotes/<%= params[:dispatch_id] %>/edit" class="btn btn-primary waves-effect waves-light f-right md-trigger">
              <i class="icofont icofont-law-document"></i>  View Quote
              </a>
            <% end %>
            </div>
            <div class="card-block">
               <div class="row">
                  <div style="padding: 0px;" class="col-xl-3 col-md-12 lst-not-assigned">
                    <div class="f-right">
      <!--
      <a href="javascript:;" class="external-events-toggle" style="font-size:40px;">&utrif;</a>
  -->
                    </div>
                    <h6 style="float: left;width: 48%;">Last Scheduled Address</h6>
                    <select name="schedule_by" id="schedule_by" class="form-control md-static" style="width: 110px;">
                      <option value="bydate">By Date</option>
                      <option value="bytruck">By Truck</option>
                    </select>
                    <br>
                    <label id="last-address">-</label>
                    <h6 class="m-b-30 m-t-20">Unscheduled Cars</h6>
                    <div id="external-events" >

                      <% @unschedule_cars.each do |key, car| %>
                        <%= render partial: "dashboard/unsched_car", locals: {car: car} %>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-xl-9 col-md-12 lst-assigned">
                    <div id='calendar'></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Container-fluid ends -->
  </div>
</div>
<%content_for :js do %>
  <script>
    var truck_array = <%= @trucks.to_json.html_safe %>,
        trucks_options = "";
        truck_array.forEach(function(t){
          trucks_options += "<option value="+t[0]+">"+t[1]+"</option>";
        })
      $("select[name=schedule_by]").on("change", function (e) {
         var $val = $(this).find("option:selected").val();
         if($val == "bytruck"){
             $(".fc-center h2").hide()
             $(".fc-center").append("<select name='listoftrucks' class='form-control'>"+trucks_options+"</select>")
         }else{
             $(".fc-center h2").show()
             $(".fc-center select").remove()
         }
      });
      function growling(message, type) {
          $.growl({
              message: message
          }, {
              type: type,
              allow_dismiss: true,
              label: 'Cancel',
              className: 'btn-xs btn-inverse',
              delay: 0,
              placement: {
                  from: 'bottom',
                  align: 'right'
              },
              animate: {enter: 'animated fadeInUp'}
          });
      }

      let events = (<%= @schedules.to_json.to_s.html_safe %>);
      let nonEvents = (<%= (@unschedule_cars.to_json.to_s.html_safe) %>);
      // Keep the address of the last scheduled car
      let lastAddress = null;
  </script>
  <%= public_js_path 'calendar.js' %>
  <%= public_js_path 'distance.js' %>
  <%= javascript_include_tag 'moment/js/moment.js' %>
  <%= javascript_include_tag 'fullcalendar/js/fullcalendar.min.js' %>
  <%= javascript_include_tag 'fullcalendar-scheduler-1.9.0/scheduler.min.js' %>
<% end %>

<% content_for :css  do%>
  <%= public_css_path 'fullcalendar.min.css' %>
  <%= public_css_path 'fullcalendar.print.min.css','print' %>
  <%= public_css_path 'scheduler.min.css' %>
<% end %>
