<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>C4T</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="Cash for trash - Nous achetons vos autos usagés!">
    <meta name="author" content="PropulsionWeb">
    <link rel="shortcut icon" href="<%= image_url 'favicon.png' %>" type="image/x-icon">
    <link rel="icon" href="<%= image_url 'favicon.ico' %>" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
  </head>

  <body class="sidebar-mini fixed">
    <div class="loading hidden">
      <%= image_tag 'preloader.svg' %>
    </div>
    <%= yield %>
  </body>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#crm-contact").DataTable({
          "paging": false,
          "searching": false,
          "info":     false,
          "order": [],
          "fixedHeader": true
      });
      $("#crm-contact_filter").css({"visibility": "hidden","height": "0px"})
      $("#crm-contact_length").css({"visibility": "hidden","height": "0px"})
    });
  </script>
</html>
