<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>C4T</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="Cash for trash - Nous achetons vos autos usagés!">
    <meta name="author" content="PropulsionWeb">
    <link rel="shortcut icon" href="<%= image_url 'favicon.png' %>" type="image/x-icon">
    <link rel="icon" href="<%= image_url 'favicon.ico' %>" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <%= stylesheet_link_tag 'dashboard.css' %>
  </head>
  <body class="sidebar-mini fixed">
    <div class="loading hidden">
      <%= image_tag 'preloader.svg' %>
    </div>
    <% flash.each do |key, value| %>
      <%
      if key == "alert"
          key = "danger"
      end
      %>
      <div data-growl="container" class="alert alert-<%= key %> alert-dismissable growl-animated animated fadeInDown custom-growl" role="alert" data-growl-position="top-center">
          <button type="button" aria-hidden="true" class="close" data-growl="dismiss" style="display: block; z-index: 1030;">×</button><span data-growl="icon"></span>
          <span data-growl="title"></span><span data-growl="message"><%= value %></span>
          <a href="#" data-growl="url"></a>
      </div>
    <% end %>
    <%= render :partial => 'shared/header' %>
    <%= render :partial => 'shared/menu' %>
    <%= yield %>
    <%= javascript_include_tag 'dashboard.js' %>

    <%= yield :js %>
  </body>
</html>