<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>C4T</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="Cash for trash - Nous achetons vos autos usagés!">
    <meta name="author" content="PropulsionWeb">
    <link rel="shortcut icon" href="<%= image_url 'favicon.png' %>" type="image/x-icon">
    <link rel="icon" href="<%= image_url 'favicon.ico' %>" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <%= stylesheet_link_tag 'dashboard.css' %>
  </head>
  <body class="sidebar-mini fixed">
    <div class="loading hidden">
      <%= image_tag 'preloader.svg' %>
    </div>
    <%= render :partial => 'shared/flashes' %>
    <%= render :partial => 'shared/header' %>
    <%= render :partial => 'shared/menu' %>
    <%= yield %>
    <%= javascript_include_tag 'dashboard.js' %>
    <%= render :partial => 'shared/head' %>
    <%= yield :js %>
  </body>
</html>